@import vars

#wrapper
  height: 15000px
a
  font-size: 16px
  font-family: "Roboto",serif
  font-weight: 400
p
  line-height: 27px
  width: 400px
span
  color: $accent



body
  overflow-x: hidden
  font-family: 'Roboto', sans-serif
  font-weight: 300
  background-color: white
  transition: background-color 1.2s ease
  font-size: $fontSize
  color: #333

.header__content
  height: 90vh
  position: relative
  overflow: hidden
.header__content__hero
  position: relative
  z-index: 2
  h1
    font-size: $heroFontSize
    font-weight: 400
    font-family: 'Lora', sans-serif
    color: #333
  h2
    font-size: $titleSize
    font-family: 'Roboto', sans-serif
    font-weight: 300
    margin-top: 10px
  div
    margin-top: 150px
    position: relative
    z-index: 10
  &:after
    content: ''
    width: 70%
    height: 100%
    position: absolute
    top: -25%
    left: -10%
    z-index: -1
    background: linear-gradient(120deg, $accent 0%, $purp 100%)
    opacity: .8


.cta-button
  font-size: 16px
  font-family: 'Roboto', sans-serif
  font-weight: 400
  padding: 10px 20px
  background: linear-gradient(120deg, $accent 0%, $purp 100%)
  border-radius: 30px
  color: white
  -webkit-box-shadow: 0 10px 25px -5px #333
  -moz-box-shadow: 0 10px 25px -5px #333
  box-shadow: 0 10px 25px -5px #333
  transition: all 0.3s ease
  background-size: 120% auto
  &:hover
    //border-color: $secondary
    color: white
    //background: $accent
    transition: all 0.3s ease
    background-position: right center



.header__content__container
  .container
    height: 70vh
    display: flex
    justify-content: center
    align-items: center

.header__content-image
  position: absolute
  top: 20%
  left: 55%
  z-index: 0
  //transition: all 0s ease-out

.header__nav
  .container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    height: 100px

.header__nav__logo:hover #svg_5 > path
  fill: $accent
  transition: all 0.3s ease
.header__nav__logo:hover #svg_2 > path
  fill: $accent
  transition: all 0.3s ease

#svg_5, #svg_2
  path
    fill: #333
    transition: all 0.3s ease


a
  text-decoration: none !important

.nav__items
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  li
    padding: 10px 5px
    &:last-child
      padding-right: 0
    a
      position: relative
      color: #333
      padding: 10px 0
      font-family: 'Roboto', serif
      font-weight: 400
      &:hover
        color: #333
        &:before
          visibility: visible
          width: 100%
      &:before
        content: ""
        position: absolute
        z-index: -1
        width: 0
        height: 10px
        bottom: 10px
        left: 0
        background: linear-gradient(120deg, $accent 0%, $purp 100%)
        visibility: hidden
        -webkit-transition: all 0.3s ease-in-out 0s
        transition: all 0.3s ease-in-out 0s



.sep-dual
  position: absolute !important
  left: 50%
  top: 100%
.sep-dual:before, .sep-dual:after
  content: ' '
  display: block
  position: absolute
  bottom: -250px
  left: -1000px
  z-index: 2
  background: $accent
  width: 2000px
  height: 250px
  -webkit-transform: rotate(-7deg)
  transform: rotate(-7deg)
.sep-dual:after
  -webkit-transform: rotate(7deg) !important
  transform: rotate(7deg) !important
main
  position: relative
  z-index: 2
  background: transparent
.section__title
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  &:before, &:after
    content: ''
    height: 150px
    width: 1px
    background: #333
    margin: 50px auto
  h1
    font-size: $titleSize
    font-family: 'Lora', sans-serif
    font-weight: 400
  h2
    font-size: $fontSize
    font-family: 'Roboto', sans-serif
    font-weight: 400
    margin-top: 10px





.section__advantages__content
  margin-bottom: 40px

.section__advantages__content-item
  .row
    height: 70vh


.flex-container
  display: flex
  align-items: center
  justify-content: center

#parallaxText, #parallaxText1
  position: relative
  height: 100%
  width: 100%
  .layer1
    position: absolute
    width: 400px
    z-index: 4
  .layer2
    position: absolute
    width: 300px
    z-index: 3
    left: 200px

#section__our-works__content
  height: 2px
  width: 100px
  background: $accent
  top: 0
  left: 0
  z-index: 999
  overflow: hidden
.modal-body
  height: 100%
  width: 100%
  overflow-y: hidden
.section__our-works__content--filter
  ul
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    li
      padding: 10px 5px
      &:first-child
        padding-left: 0
      a
        padding: 10px
        color: $accent
        border: 1px solid $accent
        transition: all 0.3s ease
        cursor: pointer

        &:hover
          background: $accent
          color: white !important
          transition: all 0.3s ease
.filter-active
  background: $accent
  color: white !important
  transition: all 0.3s ease
.work__content--item
  position: relative
  width: 1140px
  height: 700px
  &__bg
    position: absolute
    top: 0
    left: 0
    height: 700px
    width: 100%
    background: no-repeat
    background-size: cover
  &__overlay
    position: absolute
    top: 0
    right: 0
    background: red
    width: 0
    height: 700px
.slick-slide
  margin: 0 50px
.kek
  font-size: 48px
.step
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center
.steps
  position: relative
canvas
  position: absolute
  top: 0
  left: 0

#calc-kitchen
  background: linear-gradient(120deg, $accent 0%, $purp 100%)
.calc__start
  height: 700px
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
.calc__start__content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  h1
    font-size: $heroFontSize
    color: white
    font-family: 'Lora', sans-serif

.calc__start__button
  margin: 100px 0
  padding: 10px 25px
  font-family: 'Roboto', sans-serif
  font-weight: 400
  background: transparent
  outline: none !important
  cursor: pointer
  transition: all 0.3s ease
  position: relative
  display: inline-block
.btn-5
  width: 155px
  height: 40px
  line-height: 42px
  padding: 0
  border: none

.btn-5 span
  color: white !important
  font-weight: 400
  position: relative
  display: block
  width: 100%
  height: 100%

.btn-5:before, .btn-5:after
  position: absolute
  content: ""
  right: 0
  bottom: 0
  background: white
  transition: all 0.3s ease

.btn-5:before
  height: 50%
  width: 2px

.btn-5:after
  width: 20%
  height: 2px

.btn-5:hover:before
  height: 100%
.btn-5:hover:after
  width: 100%
.btn-5 span:before, .btn-5 span:after
  position: absolute
  content: ""
  left: 0
  top: 0
  background: white
  transition: all 0.3s ease

.btn-5 span:before
  width: 2px
  height: 50%

.btn-5 span:after
  width: 20%
  height: 2px

.btn-5 span:hover:before
  height: 100%
.btn-5 span:hover:after
  width: 100%






