<template>
    <div class="calc__inner">

        <keep-alive >
            <app-start v-if="currentComponent === 'app-start'"
                       @showStep="getStep"
                       :btnState="btnState"></app-start>
            <component
                        v-else
                       :is="currentComponent"
                       @goBack="prevStep"
                       @goNext="nextStep"
                       @goHome="goHome"
                       :step="steps[currentStep]"
                       >
            </component>
        </keep-alive>
    </div>
</template>

<script>
    import AppStart from './components/Start.vue';
    import AppStep from './components/Step.vue';

    export default {
        components:{
            AppStart,
            AppStep
        },
        data(){
            return {
                currentComponent: 'app-start',
                currentStep: 0,
                btnState: 'НАЧАТЬ',
                steps: [
                    {
                        type: 'carousel',
                        title: 'Какой стиль вам ближе?',
                        content:[
                            { title: 'Прованс', url: '/images/kek.jpg' },
                            { title: 'Модерн', url: '/images/kek.jpg' },
                            { title: 'Скандинавский', url: '/images/kek.jpg' },
                            { title: 'Классика', url: '/images/kek.jpg' },
                            { title: 'Лофт', url: '/images/kek.jpg' },
                            { title: 'Кантри', url: '/images/kek.jpg' },
                            { title: 'Хайтек', url: '/images/kek.jpg' },
                            { title: 'Минимализм', url: '/images/kek.jpg' },
                            { title: 'Неоклассика', url: '/images/kek.jpg' },
                            { title: 'Нужна консультация (Не определился)', url: '/images/kek.jpg' }
                        ]
                    },
                    {
                        type: 'simple',
                        title: 'Где делаем кухню?',
                        content: [
                            { title: 'Частный дом' },
                            { title: 'Блок секция' },
                            { title: 'Квартира в новостройке' },
                            { title: 'Квартира' }
                        ]
                    }
                ]
            }
        },
        methods: {
            getStep(){
                console.log('keeeeeeeeeek');
                this.currentComponent = 'AppStep';
            },
            prevStep(){
                this.currentStep = this.currentStep > 0 && this.currentStep <= this.steps.length - 1 ? this.currentStep - 1 : this.currentStep;
            },
            nextStep(){
                this.currentStep = this.currentStep >= 0 && this.currentStep < this.steps.length - 1 ? this.currentStep + 1 : this.currentStep;
            },
            goHome(){
                this.currentComponent = 'app-start';
                this.btnState = 'ПРОДОЛЖИТЬ'
            }
        }
    }
</script>
