<template>
    <div class="calc__start">
        <div class="calc__start__content">
            <h1>Хотите рассчитать кухню?</h1>
            <button @click="$emit('showStep')" class="calc__start__button btn-5"><span>{{btnState}}</span></button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "app-start",
        props: {
            btnState: String
        }
    }
</script>
