<template>
    <div class="container">
        <h1>{{step.title}}</h1>
        <button @click="$emit('goBack')">go back</button>
        <button @click="$emit('goNext')">go next</button>
        <button @click="$emit('goHome')">домой</button>
    </div>
</template>

<script>
    export default {
        name: "app-step",
        props: {
            step: Object
        }
    }
</script>
